<!doctype html>
<html class="no-js" ng-app="bitcoinAuditorApp">
  <head>
    <meta charset="utf-8">
    <title>Bitcoin Auditor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.1.6/css/material.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.1.6/css/ripples.min.css" />

    <link rel="stylesheet" href="/assets/css/main.css">

    <link rel="shortcut icon" href="/favicon.png">
  </head>
  <body ng-controller="MainCtrl">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <i class="fa fa-btc"></i>
            Bitcoin Auditor
          </a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li ng-class="{active: demoMode}">
              <a href="#/demo">Demo</a>
            </li>
            <li>
              <a href="https://github.com/bhdouglass/bitcoin-auditor">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div style="display:none;" ng-style="appLoaded">
      <div class="container" ng-show="!hasToken">
        <form class="form-horizontal">
          <fieldset>
            <div class="form-group">
                <label for="token" class="col-sm-2 control-label">BitcoinCZ API Token</label>
                <div class="col-sm-10 text-default">
                  <input type="text" class="form-control" id="token" placeholder="API Token" ng-model="token" />
                  <button class="btn btn-primary pull-right" ng-click="saveApiToken()" ng-disabled="token.length == 0">
                    Go!
                  </button>
                </div>
            </div>
          </fieldset>
        </form>
      </div>

      <div class="container" ng-if="loading">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h1>
              <i class="fa fa-spin fa-spinner"></i>
            </h1>
            <h2>
              Loading...
            </h2>
          </div>
        </div>
      </div>

      <div class="container" ng-show="data && hasToken && !loading">
        <div class="row">
          <div class="col-sm-6 text-center">
            <div class="jumbotron">
              <h1>
                <span ng-class="{'mdi-material-red': (alive == 0), 'mdi-material-lightyellow': (alive > 0 && alive < totalWorkers), 'mdi-material-lightgreen': (alive == totalWorkers)}">
                  <i class="fa fa-btc"></i>
                </span>
              </h1>
              <h2>
                <span ng-bind="reward.toFixed(8)">/<span>
              </h2>
              <h4>
                <span ng-bind="thresholdPercent.toFixed(2)"></span>%
                of the way to a payout
              </h4>
            </div>
          </div>
          <div class="col-sm-6 text-center">
            <div class="jumbotron">
              <h1>
                <span ng-class="{'mdi-material-red': (alive == 0), 'mdi-material-lightyellow': (alive > 0 && alive < totalWorkers), 'mdi-material-lightgreen': (alive == totalWorkers)}">
                  <i class="fa fa-dashboard"></i>
                </span>
              </h1>
              <h2>
                <span ng-bind="data.hashrate | hash"></span>
              </h2>
              <h4>
                <span ng-bind="alive"></span>/<span ng-bind="totalWorkers"></span>
                workers alive
              </h4>
            </div>
          </div>
        </div>

        <div class="row" >
          <div class="col-sm-6" ng-repeat="(name, worker) in data.workers" ng-class="{'col-sm-offset-3': (totalWorkers % 2 == 1 && $last)}">
            <div class="panel" ng-class="{'panel-danger': !worker.alive, 'panel-success': worker.alive}">
              <div class="panel-heading">
                <span class="panel-title">
                  <h4 class="pull-right">
                    <span ng-bind="worker.hashrate | hash"></span>
                  </h4>
                  <h4 ng-bind="worker.name"></h4>
                </span>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-sm-6">
                    Shares:
                    <span ng-bind="worker.shares">
                  </div>
                  <div class="col-sm-6 text-right">
                    Score:
                    <span ng-bind="worker.score.toFixed(2)">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <script src="/app/app.js"></script>
    <script src="/app/controllers/main.js"></script>
    <script src="/app/filters/hash.js"></script>
  </body>
</html>
